<?xml version="1.0"?>
<launch>

  <arg name="laser_enabled" default="$(optenv HUSKY_LMS1XX_ENABLED false)"/>
  <arg name="ur5_enabled" default="$(optenv HUSKY_UR5_ENABLED false)"/>
  <arg name="kinect_enabled" default="false"/>

  <!-- Standalone launcher to visualize the robot model. -->
  <include file="$(find husky_description)/launch/description.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="ur5_enabled" value="$(arg ur5_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
  </include>


  <include file="$(find husky_control)/launch/control.launch"/>

  <node name="rover" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false" />
  </node>

  <node name="rover_velocity_controller" pkg="rover_control" type="rover_velocity_controller.py">
    <!--remap from="/husky_velocity_controller/odom" to="/odom_combined"/-->
  </node>

  <include file="$(find rover_navigation)/launch/rover_scan.launch"/>

  <!-- include file="$(find depthimage_to_laserscan)/test/rostest/rover_scan.launch"/-->
  <!-- node name="rover_imu" pkg="rover_control" type="imu_publisher.py" /-->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rover_base)/rviz/rover.rviz" />

</launch>
